
.coaching-sidebar{
  position: relative;
  display: block;
}

.default-sidebar .category-widget{
  position: relative;
  display: block;
  background: rgba(3, 43, 102, 0.1);
  padding: 20px;
}

.default-sidebar .category-widget .category-list{
  position: relative;
  background: var(--main-color);
  padding: 45px 35px;
}

.default-sidebar .category-widget .category-list li{
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 17px 0px;
}

.default-sidebar .category-widget .category-list li a{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--white-color);
}

.default-sidebar .category-widget .category-list li a:hover,
.default-sidebar .category-widget .category-list li a.current{
  color: var(--secondary-color);
}

.default-sidebar .category-widget .category-list li a:before{
  position: absolute;
  content: '\e93d';
  font-family: 'icomoon';
  top: 0px;
  right: 0px;
}

.default-sidebar .sidebar-widget{
  margin-bottom: 40px;
}

.default-sidebar .sidebar-widget:last-child{
  margin-bottom: 0px;
}

.default-sidebar .travel-widget{
  position: relative;
  display: block;
  background: rgba(3, 43, 102, 0.1);
  padding: 20px;
}

.default-sidebar .travel-widget img{
  width: 100%;
}

.default-sidebar .travel-widget .content-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 250px;
  padding: 40px 30px 50px 30px;
  background: rgba(3, 43, 102, 0.9);
}

.default-sidebar .travel-widget .content-box h3{
  display: block;
  font-size: 24px;
  line-height: 34px;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 25px;
}

.default-sidebar .travel-widget .content-box .list-item li{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: var(--white-color);
  margin-bottom: 5px;
  padding-left: 26px;
}

.default-sidebar .travel-widget .content-box .list-item li:last-child{
  margin-bottom: 0px;
}

.default-sidebar .travel-widget .content-box .list-item li:before{
  position: absolute;
  content: '\e93e';
  font-family: 'icomoon';
  left: 0px;
  top: 0px;
}

.default-sidebar .download-widget{
  position: relative;
  display: block;
  background: rgba(3, 43, 102, 0.1);
  padding: 20px;
}

.default-sidebar .download-widget .widget-content{
  position: relative;
  background: var(--main-color);
  padding: 40px 45px 39px 45px;
}

.default-sidebar .download-widget h3{
  display: block;
  font-size: 24px;
  line-height: 34px;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 15px;
}

.default-sidebar .download-widget .download-list li{
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 15px;
}

.default-sidebar .download-widget .download-list li:last-child{
  margin: 0px;
}

.default-sidebar .download-widget .download-list li a{
  position: relative;
  display: inline-block;
  width: 145px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 17px 30px 16px 30px;
  text-align: center;
  transition: all 500ms ease;
}

.default-sidebar .download-widget .download-list li a:hover{
  border-color: #fff;
}

.default-sidebar .download-widget .download-list li a i{
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: var(--secondary-color);
  margin-bottom: 8px;
  transition: all 500ms ease;
}

.default-sidebar .download-widget .download-list li a:hover i{
  color: var(--white-color);
}

.default-sidebar .download-widget .download-list li a p{
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 5px;
}

.default-sidebar .download-widget .download-list li a span{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
  background: rgba(217, 217, 217, 0.1);
  border-radius: 34px;
  padding: 0px 17px;
}

.default-sidebar .download-widget .icon-shape{
  position: absolute;
  right: 30px;
  bottom: 26px;
}

.blog-sidebar{
  position: relative;
  display: block;
}

.blog-sidebar .sidebar-widget{
  background: #F7F7F7;
  border-radius: 10px;
  padding: 40px 35px;
}

.blog-sidebar .widget-title{
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.blog-sidebar .widget-title h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}

.blog-sidebar .search-widget .search-form .form-group{
  position: relative;
  margin-bottom: 0px;
}

.blog-sidebar .search-widget .search-form .form-group input[type='search']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 14px;
  color: var(--main-color);
  padding: 10px 50px 10px 30px;
  transition: all 500ms ease;
}

.blog-sidebar .search-widget .search-form .form-group input:focus{
  border-color: var(--main-color);
}

.blog-sidebar .search-widget .search-form .form-group button{
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 18px;
  color: var(--main-color);
  cursor: pointer;
  transition: all 500ms ease;
}

.blog-sidebar .category-widget .category-list-two li{
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.blog-sidebar .category-widget .category-list-two li:last-child{
  margin-bottom: 0px;
}

.blog-sidebar .category-widget .category-list-two li a{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 28px;
  color: #132D5D;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 11px 30px 10px 50px;
}

.blog-sidebar .category-widget .category-list-two li a:hover{
  color: var(--white-color);
  background: var(--main-color);
  border-color: var(--main-color);
}

.blog-sidebar .category-widget .category-list-two li a:before {
  position: absolute;
  content: '\e93e';
  font-family: 'icomoon';
  top: 14px;
  left: 14px;
  font-size: 10px;
  border: 2px solid #5E789C;
  color: #032B66;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  border-radius: 6px;
  font-weight: 700;
  transition: all 500ms ease;
}

.blog-sidebar .category-widget .category-list-two li a:hover:before{
  color: var(--white-color);
  border-color: var(--white-color);
}

.blog-sidebar .post-widget .post{
  position: relative;
  display: block;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 15px 15px 15px 118px;
  margin-bottom: 20px;
  min-height: 118px;
  transition: all 500ms ease;
}

.blog-sidebar .post-widget .post:last-child{
  margin-bottom: 0px;
}

.blog-sidebar .post-widget .post:hover{
  background: var(--main-color);
  border-color: var(--main-color);
}

.blog-sidebar .post-widget .post .post-thumb{
  position: absolute;
  left: 7px;
  top: 10px;
  width: 96px;
  height: 96px;
  border-radius: 10px;
}

.blog-sidebar .post-widget .post .post-thumb img{
  width: 100%;
  border-radius: 10px;
}

.blog-sidebar .post-widget .post h5{
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.blog-sidebar .post-widget .post h5 a{
  display: inline-block;
  color: var(--main-color);
}

.blog-sidebar .post-widget .post h5 a:hover{
  text-decoration: underline;
}

.blog-sidebar .post-widget .post .post-date{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  transition: all 500ms ease;
}

.blog-sidebar .post-widget .post:hover h5 a,
.blog-sidebar .post-widget .post:hover .post-date{
  color: var(--white-color);
}

.blog-sidebar .gallery-widget .image-list{
  position: relative;
  margin: 0px -5px;
}

.blog-sidebar .gallery-widget .image-list li{
  position: relative;
  display: inline-block;
  float: left;
  margin: 0px 5px 20px 5px;
}

.blog-sidebar .gallery-widget .image-list li .image-box{
  position: relative;
  display: block;
  width: 85px;
  height: 85px;
}

.blog-sidebar .gallery-widget .image-list li .image-box img{
  width: 100%;
}

.blog-sidebar .gallery-widget{
  padding-bottom: 30px;
}

.blog-sidebar .gallery-widget .widget-content:before{
  position: absolute;
  content: '';
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: calc(100% - 16px);
  height: calc(50% + 0px);
  left: 6px;
  top: -10px;
}

.blog-sidebar .gallery-widget .widget-content:after{
  position: absolute;
  content: '';
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: calc(100% - 16px);
  height: calc(50% + 0px);
  left: 6px;
  bottom: 10px;
  z-index: -1;
}

.blog-sidebar .gallery-widget .widget-content{
  z-index: 1;
}

.blog-sidebar .gallery-widget .widget-title{
  margin-bottom: 30px;
}

.blog-sidebar .travel-widget{
  background: rgba(3, 43, 102, 0.1);
  padding: 20px;
  border-radius: 0px;
}

.blog-sidebar .tags-widget .tags-list li{
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.blog-sidebar .tags-widget .tags-list li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: var(--main-color);
  background: var(--white-color);
  padding: 11px 20px;
  text-align: center;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
  background: var(--main-color);
  color: var(--white-color);
}

.blog-sidebar .tags-widget{
  padding-bottom: 30px;
}


























